In [13]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv('datos_procesados.csv')

In [3]:
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT,Categoría de Edad
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1,Adulto mayor
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1,Adulto
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1,Adulto mayor
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1,Adulto
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1,Adulto mayor

# 1 Pmer punto

In [16]:
elim_colum = ['DEATH_EVENT', 'age', 'Categoría de Edad']

X = df.drop(elim_colum, axis=1)

In [17]:
X.head()

,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,0,582,0,20,1,265000.00,1.9,130,1,0,4
1,0,7861,0,38,0,263358.03,1.1,136,1,0,6
2,0,146,0,20,0,162000.00,1.3,129,1,1,7
3,1,111,0,20,0,210000.00,1.9,137,1,0,7
4,1,160,1,20,0,327000.00,2.7,116,0,0,8

# 2 Pdo Punto

In [20]:
y = df['age']

In [21]:
X_trin, X_tets, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

mod_reg = LinearRegression()

mod_reg.fit(X_trin, y_train)

predicc = mod_reg.predict(X_tets)

error_ctico = mean_squared_error(y_test, predicc)
print(f'Error cuadratico medio: {error_ctico}')

Error cuadratico medio: 125.18114348613457

# Pto 3

In [22]:
predicc_age = mod_reg.predict(X)

In [23]:
res = pd.DataFrame({'Edad Real': y, 'Edad Predicha': predicc_age})

In [24]:
res

     Edad Real  Edad Predicha
0         75.0      68.070368
1         55.0      62.523704
2         65.0      65.280481
3         50.0      67.549139
4         65.0      66.801784
..         ...            ...
294       62.0      53.279030
295       55.0      54.524899
296       45.0      54.890720
297       45.0      54.001531
298       50.0      57.415436

[299 rows x 2 columns]

# 4 Cto Punto

In [25]:
mse = mean_squared_error(y, predicc_age)

In [26]:
mse

129.21632304606743